#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define BT 1
#define SYM 2
#define NAV 3
#define MED 4
#define POI 5
#define SCR 6
#define SNI 7

&sl {
  release-after-ms = <250>;
};

&mt {
    tapping-term-ms = <200>;
    require-prior-idle-ms = <150>;
};

/ {
    chosen { zmk,matrix_transform = &default_transform; };

    #include "combos.dtsi"

    behaviors {
        hml: homewrow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
        };

        hmr: homewrow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        Base {
            label = "Base";
            bindings = <
             &kp ESC   &kp      N1  &kp      N2  &kp       N3  &kp       N4  &kp N5       &kp N6    &kp        N7 &kp       N8  &kp      N9  &kp           RIGHT  &kp BACKSPACE             
             &kp TAB   &kp       Q  &kp       W  &kp        E  &kp        R  &kp T        &kp Y     &kp        U  &kp        I  &kp       O  &kp               P  &bootloader
             &kp SPACE &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F  &kp G        &kp H     &hml RSHFT J  &hml RCTRL K  &hml RALT L  &hml RGUI SEMICOLON  &kp DELETE
             &kp LEFT  &lt   POI Z  &kp       X  &kp        C  &kp        V  &kp B        &kp N     &kp        M  &kp    COMMA  &kp     DOT  &lt POI SLASH        &kp ENTER
                       &kp N1       &kp      N2  &kp       N3  &kp       N4  &kp N5       &tog BT   &kp       N7  &kp N9
            >;
        };

        Bluetooth {
            label = "bluetooth";
            bindings = <
             &kp ESC   &kp      N1  &kp      N2  &kp       N3  &kp       N4  &kp N5       &bt 0 &bt 1 &bt 2 &bt 3 &bt 4 &bt 5             
             &kp TAB   &kp       Q  &kp       W  &kp        E  &kp        R  &kp T        &none &none &none &none &none &bt BT_CLR
             &kp SPACE &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F  &kp G        &none &none &none &none &none &none
             &kp LEFT  &lt   POI Z  &kp       X  &kp        C  &kp        V  &kp B        &none &none &none &none &none &none
                       &kp N1       &kp      N2  &kp       N3  &kp       N4  &kp N5       &tog BASE &kp       N7  &kp N9
            >;
        };

        Pointer {
            label = "Pointer";
            bindings = <
              &trans       &trans       &trans        &trans        &trans               &trans &trans        &trans        &trans       &trans
              &kp LGUI     &kp LALT     &kp LCTRL     &kp LSHFT     &trans               &trans &kp RSHFT     &kp RCTRL     &kp RALT     &kp RGUI
              &trans       &mo SCR      &mo SNI       &trans        &trans               &trans &trans        &tog SNI      &tog SCR     &trans
                                            &mkp RCLK  &mkp LCLK  &mkp MCLK         &mkp MCLK  &mkp LCLK
            >;
        };

        Scroll {
            label = "Scroll";
            bindings = <
                &none &trans  &trans  &trans  &trans  &trans    &none &trans  &trans  &trans  &trans  &trans
                &none &trans  &trans  &trans  &trans  &trans    &none &trans  &trans  &trans  &trans  &trans
                &none &trans  &trans  &trans  &trans  &trans    &none &trans  &trans  &trans  &trans  &trans
                                      &trans  &trans  &trans    &none &trans  &trans
            >;
        };

        Sniper {
            label = "Sniper";
            bindings = <
                &none &trans  &trans  &trans  &trans  &trans    &none &trans  &trans  &trans  &trans  &trans
                &none &trans  &trans  &trans  &trans  &trans    &none &trans  &trans  &trans  &trans  &trans
                &none &trans  &trans  &trans  &trans  &trans    &none &trans  &trans  &trans  &trans  &trans
                                      &trans  &trans  &trans    &none &trans  &trans
            >;
        };
    };
};
